.J_bottom {
    width: 1190px;
    height: 361px;
    margin-top: 50px;
}

.paito-bottom-logo {
    width: 100px;
    height: 100px;
    margin-left: 600px;
    position: relative;
}

.paito-bottom {
    margin-top: -50px;
    width: 100%;
}


.paito-bottom-arrow {
    margin-top: -350px;
    float: right;
}

.paito-bottom-totop {
    margin-top: -315px;
    float: right;
}

.J_bottom2{
    width: 100%;
}

.aligncenter {
    clear: both;
    display: block;
    margin:auto;
}