.y-hide {
    display: none!important;
}

.paito-common-header-inner .menu {
    width: 830px;
    line-height: 50px;
    float: right;
}

.paito-common-header-inner .item {
    height: 50px;
}

.paito-common-header {
    background: #ffffff;
    position: relative;
    z-index: 101;
    margin-top: 50px;
    height: 60px;
}

.paito-common-header-inner .menu li.top-menu-item {
    cursor: default;
    float: right;
    position: relative;
    z-index: 9999;
    -webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;
}


.paito-common-header-inner .menu li.top-menu-item .menu-hd {
    display: inline-block;
    padding: 0 20px;
    color: #020202;
    text-decoration: none;
    float: right;
}

.paito-common-header-inner .image-wrap {
    width: 230px;
    height: 62px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
}

.paito-common-header-inner .image-wrap .image-logo {
    width: 415px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 0px;
    background-size: cover;
}

.paito-common-header-inner .solgon {
    position: absolute;
    top: 0;
    width: 240px;
    height: 48px;
    display: inline-block;
    z-index: 2;
    padding-left: 48px;
}

#J_slider, #J_slider>a {
    position: relative;
}

#J_slider .nav {
    bottom: 10px;
    position: absolute;
    width: 100%;
    text-align: center;
}

#J_slider .nav i {
    border-radius: 50%;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #999;
    cursor: pointer;
    margin: 0 5px;
}

#J_slider .nav i.action {
    background: #fff;
    box-shadow: 0 0 5px #ccc;
}

.ali-mian-notice {
    background-color: #e5e5e5;
    height: 32px;
    line-height: 32px;
}

.y-row .y-span1 {
    width: 6.5%;
}

.y-row .y-span2 {
    width: 15%;
}

.y-row .y-last {
    margin-right: 0!important;
}

.y-row .y-span3 {
    width: 23.5%;
}

.ali-mian-notice span {
    overflow: hidden;
    display: inline-block;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'iconfont';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bullhorn:before {
    content: "\e94d";
}

.y-row {
    min-width: 1000px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
}

.y-row .y-span1, .y-row .y-span2, .y-row .y-span3, .y-row .y-span4, .y-row .y-span5, .y-row .y-span6, .y-row .y-span7, .y-row .y-span8, .y-row .y-span9, .y-row .y-span10, .y-row .y-span11, .y-row .y-span12 {
    float: left;
    display: inline;
    margin-right: 2%;
}

#J_slider .banner{
    width: 100%;
    height: 350px;
}

.welcome{
    padding-top: 15px;
    padding-bottom: 15px;
}

.contract {
    margin-top: -300px;
}

.weixin {
    margin-top: 50px;
}

.kefu {
    position: absolute;
}

.paito-table {
    width: 1190px;
    height: 445px;
    float: left;
}

.banner-float{
    position: relative;
    height: 300px;
    float: right;
    margin-top: -325px;
}

.J_yuming {
    margin-left: 50px;
    width: 1190px;
    height: 480px;
}

.thread-border {
    font-size: 15px;
}

.col-1 {
    background: #FDA73B;
}

.col-2 {
    background: #FDDE72;
}

tr {
    text-align: center;
}

.nodata_span_text {
    font-weight: bolder;
    margin-top: 200px;
    margin-left: -650px;
    font-size: 16px;
    color: red;
    position: absolute;
}

.img-liucheng{
    height: 336px;
    margin-left: 50px;
    margin-right: 150px;
    width: 1190px;
}

.J_pingzhi{
    width: 1190px;
    height: 649px;
}

.aligncenter {
    clear: both;
    display: block;
    margin:auto;
}

.alignleft {
    display: inline;
    float: left;
}
.alignright {
    display: inline;
    float: right;
}

.banner-float-div{
    width: 1190px;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
    list-style:none;
}

.paito-daohang-div{
    width: 1190px;
}


.paito-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    width: 100%;
    background-color: #420c14;
    border-color: #e7e7e7;
    height: 38px;
}

.paito-navbar-nav {
    float: left;
    margin: 5px;
}

.navbar-nav>li>a {
    color: #F5EEEE;
}


.paito-navbar-right {
    float: right !important;
    margin: 5px;
}

.navbar-nav>li>span {
    color: #722f34;
}

.navbar-nav>li {
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 0 5px;
    font-size: 5px;
}

.divider {
    border-right: 1px solid #abafb3;
    display: inline-block;
    margin-left: -3px;
    height: 15px;
    margin-top: 3px;
    margin-right: 2px;
}

.horizon-line {
    width:100%;
    height:1px;
    margin:0px auto;
    padding:0px;
    background-color:#D5D5D5;
    overflow:hidden;
}
